@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Catamaran:wght@400;800&display=swap');

@import 'partials/animations';

@import '../config';

.section-header{
    font-size: 5rem;
    text-align:center;
    text-transform: uppercase;
    font-family: $bungee;
}


.delete-icon{
    margin-left: 0.5rem;
    position: relative;
    top: 5px;
    &.extra-width{
        min-width: 50px;
    }
    &.extra-top{
        top: 10px;
    }
}

@import 'partials/nav';

@import 'partials/openAbout';

@import 'partials/menu';

@import 'partials/location';

@import 'partials/contactFooter';

@import 'partials/overlay';

@import 'partials/paymentSuccessful';