.menu{
    padding: 5rem 0 0 0;
    .menu-container{
        width: 100%;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .menu-col{
        width: 49%;
    }
    .menu-item{
        width: 100%;
        border: 5px solid black;
        padding: 2rem;
        margin-bottom: 3rem;
        transition: all 0.4s ease-in-out;
        transform-origin: center;
        h1{
            font-family: $bungee;
            text-transform: uppercase;
            font-size: 2.25rem;
            margin-bottom: 1rem;
        }
        .price-title{
            display: flex;
            justify-content: space-between;
            margin-bottom: -0.5rem;
        }
        .title{
            font-weight: 800;
            font-size: 1.5rem;
        }
        .sub-desc{
            color: #4d4d4d;
        }
        .price{
            font-size: 1.8rem;
            text-align: right;
            position: relative;
            top: -4px;
            width: 200px;
        }
        .add-btn{
            background-color: black;
            color: white;
            text-align: center;
            width: 60px;
            padding: 0.5rem 0;
            font-weight: 800;
            cursor: pointer;
        }
        @media(max-width: $small){
            .price-title{
                flex-direction: column;
                align-items: flex-start;
            }
            .price{
                text-align: start;
            }
        }
    }
    .order-container{
        width: 100%;
        border: 5px solid black;
        padding: 1rem 2rem;
        transition: all 0.4s ease-in-out;
        &.flex-mode{
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .no-orders{
            font-size: 3rem;
        }
        .row{
            display: flex;
            justify-content: space-between;
            cursor: pointer;
            .num-and-name{
                display: flex;
                font-size: 1.25rem;
                .title-options{
                    display: flex;
                    flex-direction: column;
                    .options{
                        color: #4d4d4d;
                        margin-top: -10px;
                        font-size: 1rem;
                    }
                }
                .amount{
                    margin-right: 0.5rem;
                    color: white;
                    background-color: map-get($colors, "red");
                    border-radius: 50%;
                    font-size: 0.95rem;
                    text-align: center;
                    min-width: 25px;
                    height: 25px;
                    position: relative;
                    top: 2px;
                }
            }
            .price-and-delete{
                display: flex;
                .price{
                    font-size: 1.7rem;
                    padding-left: 10px;
                }
            }
            
        }
        .bottom-order{
            display: flex;
            justify-content: space-between;
            margin-bottom: 1rem;
            align-items: center;
        }
        .total{
            text-align: right;
            text-transform: capitalize;
            font-weight: 800;
            font-size: 2rem;
        }
        .total-price{
            text-align: right;
            font-size: 2rem;
        }
        .order{
            font-weight: 800;
            font-size: 1.5rem;
            text-transform: capitalize;
            background-color:black;
            color: white;
            padding: 10px 20px;
            cursor: pointer;
            transition: color 0.3s linear;
            &:hover{
                color: map-get($colors, "gold");
            }
        }
    }
    @media(max-width: $large){
        .order-container{
            transition: none;
            &:hover{
                transform: none;
            }
            .order{
                transition: none;
                &:hover{
                    color: white;
                }
            }
        }
    }
}