.overlay{
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    padding: 10px 0;
    width: 100%;
    height: 100%;
    z-index: 20;
    overflow: auto;
    background-color: rgba(0,0,0,0.5);
    .card{
        background-color: white;
        padding: 2rem;
        max-width: 450px;
        margin: auto 10px;
        width: 100%;
        border: 5px solid black;
        position: relative;
        .cross{
            position: absolute;
            top: -25px;
            right: 10px;
            font-size: 4rem;
            cursor: pointer;
            color: map-get($colors, "red");
        }
        @media(max-width: $medium){
            .cross{
                font-size: 3.5rem;
                top: -30px;
                right: 3px;
            }
        }
        h1{
            text-align: center;
            margin: -0.5rem 0;
        }
        .price{
            font-weight: 800;
            font-size: 1.25rem;
            text-align: center;
        }
        .sub-para{
            text-align: center;
        }
        .sides-title{
            font-size: 1.5rem;
            font-weight: 800;
        }
        .counter-container{
            display: flex;
            justify-content: center;
            font-size: 4rem;
            margin: -1rem 0;
            .plus, .minus{
                margin: 0 20px;
                user-select: none;
                cursor: pointer;
                color: map-get($colors, "red");
                &.no-select{
                    color: lightgray;
                    cursor: default;
                }
            }
        }
        .highlighted{
            color: map-get($colors, "red");
        }
        .option-row{
            display: flex;
            justify-content: space-between;
            font-size: 1.25rem;
            cursor: pointer;
            user-select: none;
            .sub-options-type{
                padding-right: 10px;
            }
            .sub-options-price{
                display: flex;
            }
            .options-counter{
                margin-right: 0.5rem;
                color: white;
                background-color: map-get($colors, "red");
                padding: 0.1rem 0.8rem;
                border-radius: 50rem;
                font-size: 0.95rem;
            }
        }
        .price-btn{
            background-color: map-get($colors, "red");
            padding: 0.5rem 1rem;
            color: white;
            display: flex;
            justify-content: space-between;
            font-size: 1.5rem;
            font-weight: 800;
            margin-top: 1rem;
            cursor: pointer;
            &.no-select{
                background-color: lightgray;
                cursor: default;
            }
        }
    }
    .payment{
        background-color: white;
        padding: 2rem;
        max-width: 1200px;
        margin: auto 10px;
        width: 100%;
        border: 5px solid black;
        position: relative;
        .cross{
            position: absolute;
            top: -33px;
            right: 5px;
            font-size: 4rem;
            cursor: pointer;
            color: map-get($colors, "red");
        }
        .form-total{
            text-align: center;
            font-size: 2.5rem;
            font-weight: 800;
            margin-top: -1.5rem;
            margin-bottom: 1rem;
        }
        input{
            display: block;
            width: 100%;
            padding: 5px 0;
            font-size: 1.25rem;
            margin-bottom: 0.5rem;
            border: none;
            outline: none;
        }
        input[name="email"]{
            margin-top: -0.7rem;
        }
        .submit-payment-btn{
            color: white;
            outline: none;
            border: none;
            display: block;
            background-color: black;
            font-weight: 800;
            padding: 10px 20px;
            font-size: 1.25rem;
            cursor: pointer;
            margin-top: 2rem;
            transition: color 0.3s linear;
            &:hover{
                color: map-get($colors, "gold");
            }
        }
        .card-error{
            margin-bottom: 2rem;
            background-color: map-get($colors, "red");
            color: white;
            font-size: 1.25rem;
            font-weight: 800;
            text-transform: capitalize;
            padding: 10px 20px;
        }
    }
}

#card-element{
    height: 30px;
}