@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Catamaran:wght@400;800&display=swap');

@import 'animations';

$bungee: 'Bungee', sans-serif;
$caramaran: 'Catamaran', sans-serif;

$small: 577px;
$medium: 769px;
$large: 993px;
$xLarge: 1201px;
$xxLarge: 1401px;

$colors: ("black":#070404,"red":#bf151a,"gray":#f7f4f4,"gold":#f5bb3d,"brown":#712c29,"orange":#c86f2a,"mango":#bf6f70,"pink":#ba8496,
"lightGray":#4c5c5c,"lightRed":#e84c28);

a, a:link, a:visited, a:hover, a:active{
    text-decoration: none;
    color: inherit;
}

.container{
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
}
.section-header{
    font-size: 5rem;
    text-align:center;
    text-transform: uppercase;
    font-family: $bungee;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: $caramaran;
}
.nav{
    z-index: 4;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: map-get($colors, "black");
    padding: 0px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 120px;
    .logo{
        height: auto;
        width: 100px;
        cursor: pointer;
    }
    .nav-items-container{
        height: 100%;
        display: inline-block;
        display: flex;
        align-items: center;
        .nav-items{
            list-style: none;
            color: white;
            .nav-links{
                display: inline-block;
                margin-left: 40px;
                font-weight: 800;
                font-size: 1.5rem;
                transition: color 0.3s linear;
            }
            .selected{
                color: map-get($colors, "gold");
            }
        }
    }
    .hamburger-container{
        display: none;
        flex-direction: column;
        justify-content: space-between;
        width: 50px;
        height: 50px;
        cursor: pointer;
        .hamburger-line{
            background-color: white;
            width: 100%;
            height: 13%;
            position: relative;
        }
    }
}
@media(max-width: $large){
    .nav{
        height: 90px;
        position: static;
        .logo{
            width: 80px;
        }
    }
}
@media (max-width: $medium){
    .nav{
        justify-content: space-between;
        .nav-items-container{
            position: absolute;
            display: block;
            top: 90px;
            left: 0;
            z-index: 5;
            width: 100%;
            overflow: hidden;
            height: 0;
            .nav-items{
                padding: 10px 40px;
                background-color: black;
                .nav-links{
                    font-size: 2rem;
                    margin-left: 0;
                    display: block;
                    margin: 20px 0;
                    width: 0%;
                }
            }
        }
        .hamburger-container{
            display: flex;
        }
    }
}
.open{
    width: 100%;
    height: 100vh;
    min-height: 600px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
    padding-left: 20px;
    padding-right: 20px;
    .open-text{
        text-transform: uppercase;
        font-family: $bungee;
        color: white;
        position: relative;
        font-size: 7rem;
        width: 1000px;
        text-align: center;
        line-height: 8rem;
        z-index: 2;
        text-shadow: 0 0 15px rgba(0,0,0,.3);
    }
    .gradient-overlay{
        top: 0;
        left: 0;
        position: absolute;
        z-index: 1;
        opacity: 0.2;
        width: 100%;
        height: 100%;
        background-image: linear-gradient(to right, #ff8177 0%, #ff867a 0%, #ff8c7f 21%, #f99185 52%, #cf556c 78%, #b12a5b 100%);
    }
    .open-img{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: url('/public/images/open.jpeg');
        background-size: cover;
        background-position: center;
    }
    .open-arrow{
        position: absolute;
        left: 50%;
        bottom: 0;
        font-size: 5rem;
        margin: auto;
        color: white;
        z-index: 3;
        transform: translateX(-50%);
        text-shadow: 0 0 15px rgba(0,0,0,.3);
        cursor: pointer;
        animation: openArrow 2s infinite;
    }
}
@media (max-width: $large){
    .open{
        height: 800px;
        min-height: 0;
    }
}
@media (max-width: $medium){
    .open{
        .open-text{
            font-size: 4rem;
            line-height: 4rem;
            padding-bottom: 50px;
        }
        .open-arrow{
            font-size: 3rem;
        }
        height: 500px;
    }
}

@media(max-width: $medium){
    .section-header{
        font-size: 4rem;
    }
}
.about{
    text-align: center;
    padding: 5rem 0;
    p{
        font-size: 24px;
        font-weight: 400;
        margin: 1rem auto 0 auto;
        max-width: 680px;
        width: 95%;
    }
}
.about-sub{
    background-color: black;
    color: white;
    padding: 5rem 0;
    text-align: center;
    h1{
        text-transform: uppercase;
        font-family: $bungee;
        font-size: 3.5rem;
        line-height: 3.5rem;
    }
}
.about-img{
    display: flex;
    height: 700px;
    [class*="pic"]{
        width: 50%;
        height: 100%;
        background-size: cover;
        background-position: center;
    }
    .pic-1{
        background-image: url('/public/images/about1.jpg');
    }
    .pic-2{
        background-image: url('/public/images/about2.jpg');
    }
}
@media(max-width: $large){
    .about-img{
        height: 400px;
    }
}
@media(max-width: $medium){
    .about-img{
        flex-direction: column;
        height: 700px;
        [class*="pic"]{
            width: 100%;
            height: 50%;
        }
    }
}
.menu{
    padding: 5rem 0 0 0;
    .menu-container{
        width: 100%;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .menu-col{
        width: 49%;
    }
    .menu-item{
        width: 100%;
        border: 5px solid black;
        padding: 2rem;
        margin-bottom: 3rem;
        transition: all 0.4s ease-in-out;
        transform-origin: center;
        h1{
            font-family: $bungee;
            text-transform: uppercase;
            font-size: 2.25rem;
            margin-bottom: 1rem;
        }
        .price-title{
            display: flex;
            justify-content: space-between;
        }
        .title{
            font-weight: 800;
            font-size: 1.5rem;
        }
        .counter-container{
            margin-bottom: 1rem;
            margin-left: -0.5rem;
            font-size: 1.25rem;
            user-select: none;
            .plus,.minus{
                background-color: #cdcdcd;
                padding: 0.1rem 1rem;
                cursor: pointer;
            }
        }
        .counter-container > *{
            display: inline-block;
            margin-left: 0.5rem;
        }
        .sub-desc{
            color: #4d4d4d;
        }
        .price{
            font-size: 1.8rem;
            text-align: right;
            position: relative;
            top: -4px;
            width: 200px;
        }
        @media(max-width: $small){
            .price-title{
                flex-direction: column;
                align-items: flex-start;
            }
            .price{
                text-align: start;
            }
        }
    }
    .order-container{
        width: 100%;
        border: 5px solid black;
        padding: 1rem 2rem;
        transition: all 0.4s ease-in-out;
        &:hover{
            transform: scale(1.03);
        } 
        .row{
            width: 100%;
            display: flex;
            justify-content: space-between;
            text-align: center;
            font-size: 1.25rem;
            margin: 1rem 0;
            .row-title{
                text-align: left;
                width: 50%;
            }
            .row-total{
                text-align:center;
                width: 25%;
                .plus{
                    margin-left: 15px;
                    color: map-get($colors, "lightGray");
                    cursor: pointer;
                    user-select: none;
                    font-size: 1.5rem;
                }
                .minus{
                    margin-right: 15px;
                    color: map-get($colors, "lightGray");
                    cursor: pointer;
                    user-select: none;
                    font-size: 1.5rem;
                }
            }
            .row-price{
                text-align:right;
                width: 25%;
            }
            .bold{
                text-transform: capitalize;
                font-weight: 800;
                font-size: 1.5rem;
            }
            .title-span{
                padding-right: 30px;
            }
            .delete-icon{
                cursor: pointer;
                position: relative;
                top: 7px;
                width: 30px;
                height: 30px;
                margin-left: -25px;
            }
        }
        .bottom-order{
            display: flex;
            justify-content: space-between;
            margin-bottom: 1rem;
            align-items: center;
        }
        .total{
            text-align: right;
            text-transform: capitalize;
            font-weight: 800;
            font-size: 2rem;
        }
        .total-price{
            text-align: right;
            font-size: 2rem;
        }
        .order{
            font-weight: 800;
            font-size: 1.5rem;
            text-transform: capitalize;
            background-color:black;
            color: white;
            padding: 10px 20px;
            cursor: pointer;
            transition: color 0.3s linear;
            &:hover{
                color: map-get($colors, "gold");
            }
        }
    }
    @media(max-width: $large){
        .order-container{
            transition: none;
            &:hover{
                transform: none;
            }
            .order{
                transition: none;
                &:hover{
                    color: white;
                }
            }
        }
    }
}

.location{
    padding-top: 5rem;
    .map-container{
        width: 100%;
        height: 700px;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        .map{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
    }
    @media(max-width: $medium){
        .map-container{
            height: 600px;
        }
    }
}
.loader{
  border: 10px solid #f3f3f3;
  border-top: 10px solid map-get($colors, "black");
  border-radius: 50%;
  width: 100px;
  height: 100px;
  animation: spin 2s linear infinite;
}
.marker {
    background-image: url('https://icons.iconarchive.com/icons/paomedia/small-n-flat/1024/map-marker-icon.png');
    background-size: cover;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
}
.mapboxgl-popup {
    max-width: 200px;
}
.mapboxgl-popup-content {
    text-align: center;
}
.contact{
    padding: 5rem 0 8rem 0;
    .contact-container{
        display: flex;
    }
    .contact-col{
        width: 50%;
        text-align: center;
        .house-icon{
            display: block;
            margin: 0 auto;
            width: 100px;
            height: auto;
            margin-bottom: 1.3rem;
        }
        h1{
            font-size: 2.5rem;
            font-family: $bungee;
            text-transform: uppercase;
        }
        p{
            font-size: 1.5rem;
        }
        .phone-link{
            display: inline-block;
            position: relative;
        }
        .phone{
            margin-top: 1.3rem;
        }
        .underline{
            height: 3px;
            background-color: black;
            width: 100%;
            position: absolute;
            bottom: 0;
            left: 0;
        }
        .break{
            height: 1rem;
        }
    }
    @media(max-width: $medium){
        .contact-container{
            flex-direction: column;
        }
        .contact-col{
            width: 100%;
        }
        .contact-col.second-col{
            margin-top: 4rem;
        }
    }
}
.footer{
    background-color: black;
    padding: 2.5rem 0;
    p{
        color: white;
        text-align: center;
        font-size: 1.5rem;
    }
    .heart{
        color: red;
        font-size: 3rem;
        position: relative;
        top: 7px;
        animation: heart 2s infinite;
        display: inline-block;
        transform-origin: center;
        cursor: default;
    }
}