@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Catamaran:wght@400;800&display=swap');

@import 'partials/animations';

@import 'partials/config';

.container{
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
}
.section-header{
    font-size: 5rem;
    text-align:center;
    text-transform: uppercase;
    font-family: $bungee;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: $caramaran;
}

.delete-icon{
    margin-left: 0.5rem;
    position: relative;
    top: 5px;
    &.extra-width{
        min-width: 50px;
    }
    &.extra-top{
        top: 10px;
    }
}

@import 'partials/nav';

@import 'partials/openAbout';

@import 'partials/menu';

@import 'partials/location';

@import 'partials/contactFooter';

@import 'partials/overlay';